# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [ ]:
my_list = [[1,2],[3,4],[5,6]]
print(my_list[1][1])

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [ ]:
my_list = [10,20,30,40,50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [ ]:
list1= [1,2,3,4,5,6,7,8]
print(list1[1::2])

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [ ]:
my_list = [10,20,30,40,50]
my_list[2:4]=[99,100,101]
print(my_list)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [ ]:
my_list = [1,2,3,4,5]
my_list[1:3]=[99,100,101]
print(my_list)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [ ]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [ ]:
# write your code here
my_list = [1,2,3]
my_list.extend("abc")
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [ ]:
# write your code here
list1 = [1,2,3,4,5,6,7]
list2 = [4,5,6,8,9,10,7]
list1.extend(item for item in list2 if item not in list1)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [ ]:
# write your code here
my_list = [0] * 100

# Replace every 10th element with 1
for i in range(9, 100, 10):  # indices 9, 19, 29, ..., 99
    my_list[i] = 1

# Print the list
print(my_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5]
print(set([2,4]).issubset(my_list))

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [ ]:
# write your code here
list1 = [1,2,3,4,5]
list2 = [2,4]
result = [item for item in list1 if item not in list2]
print(result)

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [ ]:
# write your code here
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10,11,12]
my_list.append(99)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [ ]:
# write your code here
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.insert(1,20)
print(list1)

[1, 20, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [ ]:
# write your code here
list1 = [1,2,3,4,5,6,7,8,9,10,11]
list1.remove(7)
print(list1)

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10,11]
list1 = my_list.pop(10)
print(list1)
print(my_list)

11
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
count = 0
for item in my_list:
  count += 1
print(count)

10

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list[:5])

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
#print(my_list[::-1])
print(f'reversed_list',my_list[::-1])

reversed_list [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
print(4 in my_list)

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [ ]:
# write your code here
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
print(list1+list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
print(sum(my_list))

55

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
print([item for item in my_list if item %2!=0])

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [ ]:
# write your code here
my_list = [1,2,3,4,4,5,5,6,6,7,8,9,6,9,10]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [ ]:
# write your code here
my_lsit = "hello"
print(list(my_lsit))

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [ ]:
# write your code here
list1 = [1,2,3,4,5]
product = 1
for item in list1:
  product *= item
print(product)

120

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [ ]:
# write your code here
list1 = [10,9,8,7,6,5,4,3,2,1]
print(sorted(list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.clear()
print(my_list)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
index = 0
while index < len(my_list):
  print(my_list[index])
  index += 1

1
2
3
4
5
6
7
8
9
10

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [ ]:
# write your code here

my_list = [1,2,3,4,5,6,7,8,9,10]
for index,value in enumerate(my_list):
  print(index,value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list.index(6))

5

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [ ]:
# write your code here
tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [ ]:
# write your code here
tuple1 = (1,2,3,4,5)
print(tuple1[2])

3

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(my_tuple[-3:])

(8, 9, 10)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(4 in my_tuple)

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(my_tuple.index(4))

3

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10,7)
print(my_tuple.count(7))

2

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [ ]:
# write your code here
tuple1 = ((1,2,3),(4,5,6),(7,8,9))
print(tuple1[1][2])

6

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
tuple1 = (1,2,3,4,5,6,7)
tuple2 = (1,2,3,4,5)
print(tuple1 == tuple2)

False

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10,11]
my_tuple = tuple(my_list)
print(my_tuple)

TypeError: 'tuple' object is not callable

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(sum(my_tuple))

55

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [ ]:
# write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]
my_tuple = tuple(my_list)
print(my_tuple)

TypeError: 'tuple' object is not callable

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
for item in my_tuple:
  print(item)

1
2
3
4
5
6
7
8
9
10

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [1]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_tuple[0] = 11

TypeError: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [ ]:
# write your code here
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [ ]:
# write your code here
my_dict = {(1,2):"value"}
print(my_dict)

{(1, 2): 'value'}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(len(my_tuple))

10

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [ ]:
# write your code here
tuple1 = (1,2,3,4,5,6)
tuple2 = (7,8,9,10)
print(tuple1 < tuple1)

False

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [ ]:
# write your code here
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(max(my_tuple))
print(min(my_tuple))

10
1

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [ ]:
# write your code here
my_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(my_tuple[1][1])

5

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [ ]:
# write your code here
import sys

# Given list and tuple
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

# Check memory size
list_size = sys.getsizeof(my_list)
tuple_size = sys.getsizeof(my_tuple)

# Print sizes
print("List size:", list_size, "bytes")
print("Tuple size:", tuple_size, "bytes")

List size: 104 bytes
Tuple size: 80 bytes

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [ ]:
# write your code here
my_set = {10,11,12,13,14,15,15}
print(my_set)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [ ]:
# write your code here
my_set = {1,2,3,4,5}
my_set.update([6,7,8,9,10])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set2.issubset(set1))

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

print(set1.issuperset(set2))

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1.difference(set2))

{1, 2, 3}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [ ]:
# write your code here
multiples_of_3 = {x for x in range(1, 16) if x % 3 == 0}
print(multiples_of_3)

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [ ]:
# write your code here
my_set = {1, 2, 3, 4, 5}

my_set.discard(3)

print(my_set)

{1, 2, 4, 5}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
my_set = (1,2,3,4)
is_empty = len(my_set) == 0
print(is_empty)

False

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [ ]:
# write your code here
my_set = {10, 20, 5, 30, 15}

max_value = max(my_set)
print(max_value)

30

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [ ]:
# write your code here
my_set = {10, 20, 5, 30, 15}
min_value = min(my_set)
print(min_value)

5

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [ ]:
# write your code here
my_frozenset = frozenset(['a', 'b', 'c'])
print(my_frozenset)

frozenset({'b', 'c', 'a'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [ ]:
# write your code here
my_frozenset = frozenset(['a', 'b', 'c'])
try:
    my_frozenset.add('d')  # This will raise an error
except AttributeError as e:
    print("Error:", e)

Error: 'frozenset' object has no attribute 'add'

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [ ]:
# write your code here
frozen = frozenset(['a', 'b', 'c'])
regular = {'c', 'd', 'e'}

union_set = frozen.union(regular)

print(union_set)

frozenset({'d', 'b', 'c', 'e', 'a'})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [ ]:
# write your code here

my_list = [1, 2, 2, 3, 4, 4, 5]

unique_elements = set(my_list)

print(unique_elements)

{1, 2, 3, 4, 5}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [ ]:
# write your code here
squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A ∩ B
```

In [ ]:
# write your code here
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7}
intersection_set = setA.intersection(setB)
print(intersection_set)

{4, 5}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A Δ B) set
```

In [ ]:
# write your code here
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7}

sym_diff = setA.symmetric_difference(setB)

print(sym_diff)

{1, 2, 3, 6, 7}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [ ]:
# write your code here
my_set = {10, 20, 30, 40, 50}
for element in my_set:
    print(element)

50
20
40
10
30

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [ ]:
# write your code here
my_set = {10, 20, 30, 40, 50}
integer_count = len(my_set)
print(integer_count)

5

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [ ]:
# write your code here
setA = {1, 2, 3, 4, 5}

setB = setA.copy()


print("Are setA and setB the same object?", setA is setB)  # Should be False

Are setA and setB the same object? False

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.